@layer components {
  header {
    @apply flex flex-row w-full bg-background h-20 items-center sticky top-0 z-30;
  }

  header .logo-text {
    @apply flex text-white font-semibold text-base tracking-widest uppercase;
    font-family: "Montserrat", sans-serif;
  }

  header .links          { @apply px-4 flex flex-row space-x-4; }
  header .topnav-item-container { @apply relative flex flex-row ml-8; }
  header .topnav-item    { @apply relative flex items-center h-12 mx-0; }

  header .topnav-link {
    @apply text-white font-semibold opacity-70 hover:opacity-100 py-4 px-3;
  }

  header .topnav-link.active,
  header .topnav-link:hover {
    @apply font-semibold opacity-100 shadow-inner;
    background-color: #99cced1f;
  }

  header .topnav-icon    { @apply fill-white opacity-70 text-inherit inline; }

  .nav-link {
    @apply block text-white font-light hover:font-medium px-2 py-1 text-base whitespace-nowrap;
    text-decoration: none;
  }

  .nav-link.active { @apply font-semibold; }
}
